.main {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 0px;
  max-width: 1500px;
  margin: 0 auto;
  font-family: "Bebas Neue", sans-serif;
}
.fundo-titulo {
  background-color: #fff;
  width: 80px;
  height: 100%;
  margin: 0px 50px 0px 20px;
  grid-row: 1/-4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fundo-titulo h1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 4rem;
}
.role {
  display: flex;
  gap: 20px;
  color: #fff;
  align-items: center;
  margin-bottom: 50px;
}
.info-agente {
  display: flex;
  flex-direction: column;
}
.info-agente p {
  color: #fff;
  max-width: 45ch;
  font-size: 1.7rem;
}
.role img {
  width: 65px;
  height: 65px;
}
.role span {
  font-size: 1.5rem;
}
.role span:hover {
  color: #ff4655;
}

.cardHabilidade {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  padding: 10px;
  position: relative;
  height: 400px;
  width: 300px;
  border-right: 1px solid #ff4655;
  color: #fff;
}
.cardHabilidade .nome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardHabilidade .nome img {
  width: 70px;
  height: 70px;
}
.cardHabilidade .nome h1 {
  font-weight: 400;
}
.cardHabilidade .descricao p {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  text-align: justify;
}
.cardHabilidade:nth-child(4) {
  border: none;
}
.cardHabilidade .letra {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  background-color: #ff4655;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -25px;
  right: 20px;
  font-size: 1.125rem;
}
.habilidades {
  display: flex;
  flex-direction: row;
  grid-column: -3/-1;
  width: auto;
}
.imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.img-agente {
  display: flex;
  height: 340px;
  width: 350px;
  position: absolute;
  bottom: 0px;
}
.paleta {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 60px;
}
.paleta div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.paleta div:hover {
  transform: scale(0.8);
}
.img-agente img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .habilidades {
    flex-wrap: wrap;
  }
  .cardHabilidade {
    height: 400px;
    width: 400px;
  }
  .cardHabilidade:nth-child(2) {
    border: none;
  }
}
@media (max-width: 1000px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto max-content max-content 1fr;
    padding: 10px;
    width: initial;
  }
  .fundo-titulo {
    width: initial;
    height: 70px;
    margin: 0px 0px 0px 0px;
    grid-column: -3/-1;
    grid-row: 1;
  }
  .fundo-titulo h1 {
    writing-mode: horizontal-tb;
    transform: none;
  }
  .imgs {
    grid-column: -3/-1;
    grid-row: 2;
    position: relative;
    height: 340px;
  }
  .img-agente {
    display: flex;
    height: 340px;
    width: 340px;
    position: absolute;
    bottom: 0px;
    top: 20px;
  }
  .info-agente {
    grid-column: -3/-1;
    justify-content: center;
    align-items: center;
    grid-row: 3;
  }
  .habilidades {
    justify-content: center;
    align-items: center;
    gap: 20px 0px;
    grid-row: 4;
  }
  .role {
    margin-bottom: 25px;
  }
  .role img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 836px) {
  .cardHabilidade {
    border: none;
  }
}

@media (max-width: 600px) {
  .img-agente {
    height: 305px;
    width: 305px;
  }
  .cardHabilidade {
    height: 385px;
    width: 90%;
  }
  .fundo-titulo h1 {
    writing-mode: horizontal-tb;
    transform: none;
    font-size: 3rem;
  }
  .cardHabilidade {
    border: none;
  }
  .habilidades {
    gap: 25px 0px;
  }
  .info-agente p {
    font-size: 1.3rem;
    text-align: justify;
  }
  .role img {
    width: 40px;
    height: 40px;
  }
  .role span {
    font-size: 1.3rem;
  }
  .paleta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 120px;
    left: 50px;
  }
  .paleta div {
    width: 30px;
    height: 30px;
  }
  .fundo-titulo {
    height: 50px;
  }
}
@media (max-width: 400px) {
  .cardHabilidade {
    height: 430px;
    width: 90%;
  }
}
