.main-home {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 80px 0px;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
}

.main-home img {
  width: 600px;
}
.cardAgente {
  width: 250px;
  height: 300px;
  border-left: 0.1px solid #9a9a9a;
  border-right: 0.1px solid #9a9a9a;
  border-top: 0.1px solid #9a9a9a;
  border-bottom: 0.1px solid #ff4655;
  position: relative;
}
.fundoTitulo {
  background-color: #ff4655;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  z-index: 5;
}
.fundoTitulo h1 {
  color: #fff;
  position: absolute;
  top: -15px;
  left: 10px;
  font-weight: 400;
}
.listaAgentes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  justify-content: center;
  align-items: center;
}
.imgAgente {
  overflow: hidden;
}
.imgAgente .img1 {
  width: 315px;
  height: 315px;
  position: absolute;
  bottom: 0px;
  left: -25px;
  z-index: 1;
}
.imgAgente .img2 {
  width: 250px;
  height: 250px;
  opacity: 0.4;
}
.cardAgente:hover .fundoTitulo {
  display: none;
}
.cardAgente:hover {
  border-bottom: 0.1px solid #9a9a9a;
}
.overlay {
  position: absolute;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgba(255, 70, 85, 0.5);
  opacity: 0;
  transition: opacity 0.8s ease;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay:hover {
  opacity: 1;
}

.btn-overlay {
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease;
  border: none;
  border-radius: 50%;
}

.overlay:hover .btn-overlay {
  opacity: 1;
}
.btn-overlay img {
  width: 60px;
  height: 60px;
}
.overlay p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
}
.main-home form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.main-home form input {
  width: 450px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border: 1px solid rgba(83, 83, 83, 0.5);
}
.main-home form input:focus {
  outline: none;
}
.main-home form div {
  border: 1px solid #fff;
  background: transparent;
  width: 50px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-home form div img {
  width: 25px;
  height: 25px;
}
