#header {
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
}

#header img {
  width: 50px;
  height: 50px;
}

#header h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5625rem;
  font-weight: 400;
}
@media (max-width: 600px) {
  #header img {
    width: 40px;
    height: 40px;
  }
  #header h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5625rem;
    font-weight: 400;
  }
}